.mainForm {
    border: 2px solid grey;
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
}

.saveButton {
    margin-left: 20px;
    vertical-align: auto;
    color: blue;
    background-color: white;
    border-radius: 15%;
}

.tableHeader {
    background-color: darkblue;
    font-weight: bold;
    margin: 0px;
}

.tableHeader > th{
    border-bottom: 2px solid grey;
}

.newCell {
    border: 1px solid grey;
}
.newCell:hover{
    background-color: blue;
    border-color: yellow;
}

.tableRow {
    background-color: darkblue;
}

.buttonDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: darkblue;
    border: 2px solid grey;
    margin: 0 auto;
    width: 45.2%;
}

.actionButton {
    border-radius: 20px;
    border:1px solid grey;
    box-shadow: 0px 3px lightgrey;
    margin-right: 4px;
}

.actionButton:hover {
    transform: translate(0,-2px);
    border: 2px solid yellow;
}

.actionButton:active {
    background:rgb(117, 160, 173);
    border: 2px solid yellow;
    transform: translate(0, 2px);
    box-shadow: 0 0;
}

.mainDiv {
    width:50%;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    position: absolute;
    top: -5px;
    right: 500px;
}

.pageTitle {
    width: 100%;
}

.taskTable {
    width: 45.5%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid grey;
    color: white
    /* border-collapse:separate;
    border-spacing: 0 10px; */
}

.deleteRecord {
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 0px 3px lightgrey;
}
.deleteRecord:hover {
    border: 2px solid yellow;
    background: lightblue;
    transform: translate(0,-2px);
}
.deleteRecord:active {
    border: 2px solid yellow;
    background:rgb(117, 160, 173);
    transform: translate(0, 2px);
    box-shadow: 0 0;
}

.formAlert {
    border: 5px double grey;
    color: black;
    font-weight: bold;
    background-color: red;
}
.formAlert:hover {
    color: white;
    background-color: blue;
    border: 5px double yellow;
}

.tableHead {
    visibility: visible;
}

.tableHead:hover {
    background-color: blue;
}

.tableHeadCollapsed {
    visibility: collapse;
    /* display: none; */
    width: 0%;
}

.collapseButton {
    color: black;
    font-weight: bold;
}

.tableRowCollapsed {
    visibility: collapse;
    transition: all .4s linear;
}

.sidebar {
    width: 5%;
    height: 100%;
    position: fixed;
    top: 8;
    left: 0;
    transition: all .15s ease-in;
    
}
.sidebar.active {
    width: 10%;
    transition-delay: .2s;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

#sidebarButton {
    transition: all .15s ease-in;
    margin-bottom: 5px;
}

#sidebarButton:hover {
    transform: translate(0,-2px);
    border: 2px solid yellow;
}

#sidebarButton.active {
     transform: translateX(16vh);
     transition-delay: .2s;
     transition-property: all;
     transition-duration: .2s;
     transition-timing-function: ease-in-out;
}

.sidebarButtonDiv {
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 100%;
    align-content: center;
}

.sidebarContentsClosed {
    transform: translateX(-300%);
    width: 100%;
    height: 100%;
    transition: all .15s ease-in;
}

.sidebarContentsOpened {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: blue;    
    border-right: 2px solid grey;
    transition: all .4s ease-in-out;

}

.sidebarButton {
    margin-left: 50px;
    margin-top: 10px;
    transform: scale(1.1);
}




